allow flags_health_check apexd_prop:file { open };
allow flags_health_check apexd_prop:file { getattr };
allow flags_health_check bluetooth_prop:file { open };
allow flags_health_check bluetooth_prop:file { getattr };
allow flags_health_check bootloader_boot_reason_prop:file { open };
allow flags_health_check bootloader_boot_reason_prop:file { getattr };
allow flags_health_check boottime_prop:file { open };
allow flags_health_check boottime_prop:file { getattr };
allow flags_health_check bpf_progs_loaded_prop:file { open };
allow flags_health_check bpf_progs_loaded_prop:file { getattr };
allow flags_health_check ctl_adbd_prop:file { open };
allow flags_health_check ctl_adbd_prop:file { getattr };
allow flags_health_check ctl_bootanim_prop:file { open };
allow flags_health_check ctl_start_prop:file { open };
allow flags_health_check ctl_start_prop:file { getattr };
allow flags_health_check ctl_stop_prop:file { open };
allow flags_health_check dynamic_system_prop:file { open };
allow flags_health_check dynamic_system_prop:file { getattr };
allow flags_health_check firstboot_prop:file { open };
allow flags_health_check firstboot_prop:file { getattr };
allow flags_health_check gsid_prop:file { open };
allow flags_health_check gsid_prop:file { getattr };
allow flags_health_check heapprofd_enabled_prop:file { open };
allow flags_health_check heapprofd_enabled_prop:file { getattr };
allow flags_health_check hwservicemanager_prop:file { open };
allow flags_health_check last_boot_reason_prop:file { open };
allow flags_health_check last_boot_reason_prop:file { getattr };
allow flags_health_check llkd_prop:file { open };
allow flags_health_check llkd_prop:file { getattr };
allow flags_health_check logpersistd_logging_prop:file { open };
allow flags_health_check logpersistd_logging_prop:file { getattr };
allow flags_health_check lowpan_prop:file { open };
allow flags_health_check lowpan_prop:file { getattr };
allow flags_health_check lpdumpd_prop:file { open };
allow flags_health_check lpdumpd_prop:file { getattr };
allow flags_health_check misc_writer_prop:file { open };
allow flags_health_check misc_writer_prop:file { getattr };
allow flags_health_check net_dns_prop:file { open };
allow flags_health_check net_dns_prop:file { getattr };
allow flags_health_check netd_stable_secret_prop:file { open };
allow flags_health_check rmt_storage_prop:file { open };
allow flags_health_check rmt_storage_prop:file { getattr };
allow flags_health_check safemode_prop:file { open };
allow flags_health_check safemode_prop:file { getattr };
allow flags_health_check serialno_prop:file { open };
allow flags_health_check serialno_prop:file { getattr };
allow flags_health_check system_boot_reason_prop:file { open };
allow flags_health_check system_boot_reason_prop:file { getattr };
allow flags_health_check theme_prop:file { getattr };
allow flags_health_check time_prop:file { open };
allow flags_health_check time_prop:file { getattr };
allow flags_health_check traced_enabled_prop:file { open };
allow flags_health_check traced_enabled_prop:file { getattr };
allow flags_health_check traced_lazy_prop:file { open };
allow flags_health_check traced_lazy_prop:file { getattr };
allow flags_health_check ctl_bootanim_prop:file { getattr };
allow flags_health_check hwservicemanager_prop:file { getattr };
allow flags_health_check mmc_prop:file { open };
allow flags_health_check mmc_prop:file { getattr };
allow flags_health_check netd_stable_secret_prop:file { getattr };
allow flags_health_check nnapi_ext_deny_product_prop:file { open };
allow flags_health_check nnapi_ext_deny_product_prop:file { getattr };
allow flags_health_check overlay_prop:file { open };
allow flags_health_check theme_prop:file { open };
allow flags_health_check wifi_prop:file { open };
allow flags_health_check wifi_prop:file { getattr };
