allow init rild_cas_socket:sock_file w_file_perms;
allow init sysfs:file { open };
allow init sysfs:file { write };
allow init vendor_toolbox_exec:file { execute_no_trans };
allow init socket_device:sock_file { unlink };
allow init sysfs:file { setattr };
allow init device:chr_file { read write };
allow init device:chr_file { open };
allow init device:chr_file { ioctl };
allow init block_device:blk_file { ioctl };
allow init video_device:chr_file { read write };
allow init video_device:chr_file { open };
allow init sysfs:file { read write };
allow init vendor_file:file { execute_no_trans };
allow init vfat:file { read };
allow init vfat:file { open };
allow init vfat:file { getattr };
allow init rtc_device:chr_file { read };
allow init rtc_device:chr_file { open };
allow init rtc_device:chr_file { ioctl };
allow init ion_device:chr_file { ioctl };
allow init ion_device:chr_file { read };
allow init ion_device:chr_file { open };
allow init self:socket { create };
allow init self:socket { ioctl };
allow init self:socket { write };
allow init self:socket { read };
allow init hwservicemanager:binder { call };
allow init hwservicemanager:binder { transfer };
allow init sysfs_livedisplay_tuneable:file { read write };
allow init sysfs_livedisplay_tuneable:file { open };
allow init sysfs_mdnie:lnk_file { read };
allow init sysfs:file { read };
allow init video_device:chr_file { ioctl };
allow init mediaserver:fd { use };
allow init device:chr_file { getattr };
allow init sysfs_livedisplay_tuneable:file { read };
allow init sysfs_devices_system_cpu:file { write };
allow init proc_kernel_sched:file { write };
allow init sysfs_lowmemorykiller:file { read };
allow init sysfs_lowmemorykiller:file { open };
allow init sysfs_lowmemorykiller:file { write };
allow init efs_file:dir { mounton };
allow init sysfs_batteryinfo:file { setattr };
allow init block_device:blk_file { write };
allow init sysfs_wake_lock:file { append };
allow init sysfs_wake_lock:file { open };
allow init uio_device:chr_file { read write };
allow init uio_device:chr_file { open };
allow init debugfs:file { write };
allow init self:socket { bind };
allow init self:capability2 { block_suspend };
allow init system_file:file { mounton };
allow init socket_device:sock_file { create };
allow init socket_device:sock_file { setattr };
allow init system_file:file { execute_no_trans };
allow init block_device:blk_file { ioctl };
allow init cameraserver:fd { use };
allow init radio_data_file:lnk_file { read };

