allow qti_init_shell bluetooth_loader_exec:file r_file_perms;
allow qti_init_shell btnvtool_exec:file rx_file_perms;
allow qti_init_shell hci_attach_dev:chr_file rw_file_perms;
allow qti_init_shell qmuxd_socket:dir search;
allow qti_init_shell sysfs_android_usb:file rw_file_perms;
allow qti_init_shell exported3_default_prop:property_service { set };
allow qti_init_shell proc_kernel_sched:file { write };
allow qti_init_shell proc_kernel_sched:file { open };
allow qti_init_shell device:dir { write };
allow qti_init_shell device:dir { add_name };
allow qti_init_shell device:file { create };
allow qti_init_shell device:file { write open };
allow qti_init_shell file_contexts_file:file { read };
allow qti_init_shell file_contexts_file:file { getattr };
allow qti_init_shell file_contexts_file:file { open };
