allow surfaceflinger sysfs:file { read };
allow surfaceflinger sysfs:file { open };
allow surfaceflinger sysfs:file { getattr };
allow surfaceflinger device:chr_file { read write };
allow surfaceflinger device:chr_file { open };
allow surfaceflinger device:chr_file { ioctl };
